html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    /* Gradient retrieved from: https://www.eggradients.com/category/metal-gradient*/
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    }


#phone {
    width: 350px;
    height: 700px;
    margin: 50px auto;
    border-radius: 30px;
    padding: 2px;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

#head {
    display: flex;
    width: 90%;
    align-items: space-between;
    padding: 0 15px;
}
#head > p {
    font-size: 1rem;
    color: white;
    margin: 0;
    text-align: left;
}
#calculator {
    display: flex;
    width: 95%;
    height:95%;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(19, 19, 19);
    padding: 0;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
   }

 #screen {
     width: 90%;
     height: 35%;
     color: white;
     font-size: 5rem;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     padding-right: 0 20px;
 }

 #screen > p {
     margin: 0;
 }

 #body {
    width: 95%;
    height: 65%; 
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
    margin-bottom: 5%;
    align-items: flex-end;
    justify-content: center;
 }

 .button {
     height: 75px;
     width: 75px;
     border-radius: 50%;
     background-color: rgb(70, 70, 70);
     display: flex; 
     justify-content: center;
     align-items: center;  
     font-size: 1.5rem;
     color: white;
     font-weight: 500;
 }

 .long {
     width: 120px;
     border-radius: 35px;
     justify-content: flex-start;
     padding-left: 30px;
 }

 .top {
     background-color: rgb(177, 175, 175);
     color: black;
 }

 .operator {
    background-color: orange;  
 }

 .activated {
     transition: all .2s ease-in-out;
     background-color: white;
     color: orange;
 }

 .button:hover {
     filter: brightness(120%);
 }

 #bottom {
     background-color: #fff;
     height: 5px;
     width: 35%;
     border-radius: 10px;
     margin-bottom: 10px;
 }