html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: rgb(63,94,251);
background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(252,70,135,1) 100%);
}

#phone {
    width: 350px;
    height: 700px;
    margin: 50px auto;
    border-radius: 30px;
    padding: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);

}

#calculator {
    display: flex;
    width: 95%;
    height:95%;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(35, 35, 35);
    padding: 0;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
   }

 #screen {
     width: 90%;
     height: 35%;
     color: white;
     font-size: 5rem;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     padding-right: 10px;
 }

 #screen > p {
     margin: 0;
 }

 #body {
    width: 95%;
    height: 65%; 
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
    margin-bottom: 5%;
    align-items: flex-end;
    justify-content: center;
 }

 .button {
     height: 75px;
     width: 75px;
     border-radius: 50%;
     background-color: rgb(70, 70, 70);
     display: flex; 
     justify-content: center;
     align-items: center;  
     font-size: 1.5rem;
     color: white;
     font-weight: 500;
 }

 .long {
     width: 120px;
     border-radius: 35px;
     justify-content: flex-start;
     padding-left: 30px;
 }

 .special {
     background-color: rgb(200, 200, 200);
     color: black;
 }

 .operator {
    background-color: orange;  
 }

 .activated {
     background-color: white;
     color: orange;
 }