html, body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Helvetica Neue", Arial, sans-serif;
    /* Gradient retrieved from: https://www.eggradients.com/category/metal-gradient*/
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    background-size: cover;
    background-repeat: no-repeat;
    }


#phone {
    width: 350px;
    height: 700px;
    margin: 50px auto;
    border-radius: 30px;
    padding: 2px;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

#head {
    display: flex;
    width: 90%;
    align-items: space-between;
    justify-content: space-between;
    padding-top: 5px;
}
#head > p {
    font-size: .8rem;
    color: white;
    margin: 0;
    margin-left: 5px;
    text-align: left;
    font-weight: 700;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 6px;
}


#signal {
    width: 25px;
    display: flex;
    flex-flow: row nowrap;
    gap: 2px;
    align-items: flex-end;
}

.bar {
    width: 15%;
    background-color: white;
    border-radius: 5px;
}

.first {
    height: 25%;
}

.second {
    height: 50%;
}

.third {
    height: 75%;
    background-color: gray;
}

.fourth {
    height: 100%;
    background-color: gray;
}


#wifi {
    width: 20px;
	background: url('wifi-white.svg') center center;
    background-size: cover;
}

#battery {
    align-self: center;
    height: 50%;
    width: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1px 0;
}

.inner {
    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 2px;
    margin-left: 1px;
}

#calculator {
    display: flex;
    width: 95%;
    height:97%;
    border-radius: 30px;
    margin: 3px;
    background-color: rgb(9, 9, 9);
    padding: 0;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
   }

 #screen {
     width: 90%;
     height: 35%;
     color: white;
     font-size: 5rem;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     padding-right: 0 20px;
 }

 #screen > p {
     margin: 0;
 }

 #body {
    width: 95%;
    height: 65%; 
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 5%;
    align-items: flex-end;
    justify-content: center;
 }

 .button {
     height: 65px;
     width: 65px;
     border-radius: 50%;
     background-color: rgb(70, 70, 70);
     display: flex; 
     justify-content: center;
     align-items: center;  
     font-size: 1.5rem;
     color: white;
     font-weight: 500;
 }

 .long {
     width: 115px;
     border-radius: 35px;
     justify-content: flex-start;
     padding-left: 25px;
 }

 .top {
     background-color: rgb(177, 175, 175);
     color: black;
 }

 .operator {
    background-color: orange;  
 }

 .activated {
     transition: all .2s ease-in-out;
     background-color: white;
     color: orange;
 }

 .button:hover {
     filter: brightness(120%);
 }

 #bottom {
     background-color: #fff;
     height: 5px;
     width: 35%;
     border-radius: 10px;
     margin-bottom: 10px;
 }